<div class="container">
    <div class="row">
      <div style="margin-top: 30vh;" class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card border-dark">
          <div class="card-body tex-center">
            <div class="text-center">
              <div>
                <i class="fa fa-exclamation-triangle" style="font-size:48px;color:red"></i>
              </div>
              <div>
                <h1 style="color: red;">Error 500</h1>
              </div>
              <div>
                <h5>Internal Server Error...Please Try again after sometime</h5>
              </div>
            </div>
          </div>
          <div class="card-footer tex-center">
            <div class="col-md-12 control">
              <button type="button" class="btn btn-dark" (click)="goToLoginPage()">Go To Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  