<body class="background" style="padding-bottom: 20px">
<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="profile">
  <h3 style="color:chocolate; text-transform:uppercase">{{userName}}</h3>
  <button style="width: 250px;" class="btn btn-outline-light" (click)="logout()">Sign-Out</button>
</div>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search"
          name="search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="searchIssue()">Search</button>
        <button class="btn btn-outline-light my-2 my-sm-0" type="button" (click)="getWatchList()">Your Watch List</button>
      </form>
    </div>
  </nav>

  <div style="padding: 1em; display: flex; justify-content: space-around">
    <div class="btn-group">
      <button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button" id = "dropdownMenuButton" (click)="notifyCount()" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Notifications <span class="badge badge-dark" *ngIf="!notify" style="color: blanchedalmond;">{{count.length}}</span>
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
        <a *ngFor="let x of notifyData" style="color: black;" (click)="goToViewDashboard(x.issueId)">{{x.description}}</a>
      </div>
    </div>
    <button class="btn btn-outline-dark btn-lg" type="submit" (click)="goToCreateDashboard()">Create Issue</button>
  </div>
 
  
  <div *ngIf = "!toggler && watchToggle && watchDetails ">
  <div class = "container" style = "border: 2px solid black; padding : 1em; border-radius : 20px; margin-bottom : 20px">
    <h2 style="text-align: center;height: 50px; padding: 0.3em; color: black;">Your Watchlist</h2>
    <div class="filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource2" matSort >
      <ng-container  matColumnDef="issueTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.issueTitle}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reporter</mat-header-cell>
      <mat-cell *matCellDef="let data">{{data.userName}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let data">{{data.status}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="createdOn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CreatedOn</mat-header-cell>
      <mat-cell *matCellDef="let data">{{data.createdOn | date}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="issueId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>View</mat-header-cell>
      <mat-cell *matCellDef="let data" ><a (click)="goToViewDashboard(data.issueId)">View-Issue</a></mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
      <mat-paginator
    
    [showFirstLastButtons]="true"
    [pageSize]="10"
    [showFirstLastButtons]="true"
    [length]="5"
  ></mat-paginator>
  </div>
  <div style="display: flex; justify-content: space-between">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="float: right;" (click)="back()">Go Back</button> 
  </div>
  </div>
  


<div  *ngIf="toggler && !watchToggle">
<div class = "container" style = "border: 2px solid black; padding : 1em; border-radius : 20px; margin-bottom : 20px">
  <h2 style="text-align: center;height: 50px; padding: 0.3em; color: black;">Issues Assigned to You</h2>
  <div class="filter">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort >
    <ng-container  matColumnDef="issueTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let data">{{data.issueTitle}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Reporter</mat-header-cell>
    <mat-cell *matCellDef="let data">{{data.userName}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let data">{{data.status}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="createdOn">
    <mat-header-cell *matHeaderCellDef mat-sort-header>CreatedOn</mat-header-cell>
    <mat-cell *matCellDef="let data">{{data.createdOn | date}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="issueId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>View</mat-header-cell>
    <mat-cell *matCellDef="let data" ><a (click)="goToViewDashboard(data.issueId)">View-Issue</a></mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>
    <mat-paginator
  
  [showFirstLastButtons]="true"
  [pageSize]="10"
  [showFirstLastButtons]="true"
  [length]="5"
></mat-paginator>
</div>
</div>


<div *ngIf="!toggler && !watchToggle ">
  <div class = "container" style = "border: 2px solid black; padding : 1em; border-radius : 20px; margin-bottom : 20px">
    <h2 style="text-align: center;height: 50px; padding: 0.3em; color: black;">Search Results</h2>
    <div class="filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource1" matSort >
      <ng-container  matColumnDef="issueTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.issueTitle}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reporter</mat-header-cell>
      <mat-cell *matCellDef="let data">{{data.userName}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let data">{{data.status}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="createdOn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CreatedOn</mat-header-cell>
      <mat-cell *matCellDef="let data">{{data.createdOn | date}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="issueId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>View</mat-header-cell>
      <mat-cell *matCellDef="let data" ><a (click)="goToViewDashboard(data.issueId)">View-Issue</a></mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
      <mat-paginator
    
    [showFirstLastButtons]="true"
    [pageSize]="10"
    [showFirstLastButtons]="true"
    [length]="5"
  ></mat-paginator>
  </div>
  <div style="display: flex; justify-content: space-between">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="float: right;" (click)="back()">Go Back</button> 
  </div>
</div>
</body>